
# Java #
*.class

dependency-reduced-pom.xml

# Package Files #
*.jar
*.war
*.ear

# IDEA #
*.iml
.idea
*~

.DS_Store
.jackknife/

# eclipse specific git ignore
.project
.metadata
.classpath
.settings/

# Maven files #
data/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Misc #
*.log
*.bat

*.odt#
*.rsa

*.jks

*.p12

# vscode #
.vscode

zd_theme.zip
copenhagen*.zip
.envrc
node_modules

package-lock.json
